<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="weiyangapplication2.My.MySettings.databaseConnectionString" connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=database" providerName="MySql.Data.MySqlClient" />
        <add name="weiyangapplication2.My.MySettings.databaseConnectionString1" connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=database;allowuservariables=True" providerName="MySql.Data.MySqlClient" />
        <add name="weiyangapplication2.My.MySettings.databaseConnectionString2" connectionString="server=localhost;user id=root;password=weiyang;persistsecurityinfo=True;database=database" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>